<% provide(:title, "About") %>
	<h1> About Me </h1>

	<p>Hello everybody. I am Mathew and I learn a Ruby on Rails</p>

	<p>I learn with book: <a href="http://www.railstutorial.org/"><em><b>Rails Tutorial by Michael Hartl</b></em></a></p>
